<section class="content">
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-12">
        <div class="card">
          <div class="header">
            <h2 style="margin-left: 15px; padding-left: 7px; padding-top: 7px">Ajout d'étudiant par formulaire</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="addStudentForm" (ngSubmit)="addStudentByForm()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Prénom de l'étudiant</mat-label>
                    <input formControlName="firstName" matInput required>
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="addStudentForm.get('firstName').hasError('required')">champs Obligatoire</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nom de l'étudiant</mat-label>
                    <input formControlName="lastName" matInput>
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="addStudentForm.get('lastName').hasError('required')">champs Obligatoire</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email de l'étudiant</mat-label>
                    <input formControlName="email" matInput required>
                    <mat-icon matSuffix>face</mat-icon>
                    <mat-error *ngIf="addStudentForm.get('email').hasError('required')">champs Obligatoire</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-form-field class="example-full-width col-4" appearance="outline">
                  <mat-label>Filière</mat-label>
                  <mat-select formControlName="field">
                    <mat-option *ngFor="let field of fields" value="{{ field }}">{{ field }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="addStudentForm.get('field').hasError('required')">champs Obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width col-4" appearance="outline">
                  <mat-label>CIN</mat-label>
                  <input formControlName="cin" matInput required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="addStudentForm.get('cin').hasError('pattern')"> Ce champs doit contenir 8 chiffres </mat-error>
                  <mat-error *ngIf="addStudentForm.get('cin').hasError('required')">champs Obligatoire </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width col-4" appearance="outline">
                  <mat-label>Numéro d'inscription</mat-label>
                  <input formControlName="registrationNumber" matInput required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="addStudentForm.get('registrationNumber').hasError('pattern')"> Ce champs doit contenir 7 chiffres </mat-error>
                  <mat-error *ngIf="addStudentForm.get('registrationNumber').hasError('required')">champs Obligatoire</mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="mr-3"
                          type="submit"
                          [disabled]="!addStudentForm.valid"
                          mat-raised-button
                          color="primary">
                    Valider
                  </button>
                  <button type="button" (click)="addStudentForm.reset()" mat-stroked-button color="warn">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-12">
        <div class="card">
          <div class="header">
            <h2 style="margin-left: 15px; padding-left: 7px; padding-top: 7px">Ajout d'étudiant par fichier excel ou csv</h2>
          </div>
          <div class="body">
            <div class="example-container m-4">
              <form>
                <div class="row">
                  <div class="col-6">
                    <form [formGroup]="fileForm" (ngSubmit)="addStudentsByFile()">
                      <mat-form-field class="example-full-width mb-3">
                        <ngx-mat-file-input
                          formControlName="file"
                          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          [multiple]="true"
                          #removableInput
                          placeholder="Fichier excel ou csv">
                        </ngx-mat-file-input>
                        <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                                (click)="removableInput.clear($event)">
                          <mat-icon>clear</mat-icon>
                        </button>
                        <mat-icon matSuffix>cloud_upload</mat-icon>
                      </mat-form-field>
                      <div class="col-6">
                        <button class="mr-3" type="submit"
                                [disabled]="removableInput.empty"
                                mat-raised-button
                                color="primary">Valider</button>
                        <button type="button" (click)="addStudentForm.reset()" mat-stroked-button color="warn">Reset</button>
                      </div>
                    </form>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
